<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <style>
  p {
    margin: 0 auto;
    width: 348px;
    }

  </style>
  <body style="background-color: ghostwhite;">
    <div style="width: 215px;margin: 0 auto;">
      <img src="/public/images/conatel.png" alt="Conatel">
    </div>
    <%if (portal == 'cognito') { %>
      <h3 style="margin: 0 auto;width: 60px;">Bienvenido</h3><br>
      <div style="width: 60px;margin: 0 auto;" class="">
        <img src="<%=user.picture%>" style="margin: 0 auto;max-height: 70px;float: none;border-radius: 50%;" alt="">
        <h4 style="font-size: 19px;margin-left: 44%;"><%=user.username%></h4>
      </div>

      <%}else if (portal == 'facebook'){%>
        <h3 style="margin: 0 auto;width: 60px;">Bienvenido</h3><br>
        <div style="width: 60px;margin: 0 auto;" class="">
          <img src="<%=user.photos[0].value%>" alt="" style="margin: 0 auto;max-height: 70px;float: none;border-radius: 50%;">
          <h4 style="font-size: 19px;margin-left: 44%;"><%=user._json.name%></h4>
        </div>

      <%}else{%>
        <h3 style="margin: 0 auto;width: 60px;">Bienvenido</h3><br>
        <div style="width: 60px;margin: 0 auto;" class="">
          <img src="<%=user.photos[0].value%>" style="margin: 0 auto;max-height: 70px;float: none;border-radius: 50%;" alt="">
          <h4 style="font-size: 19px;margin-left: 44%;"><%=user.displayName%></h4>
        </div>

      <%}%>
    <table style="width:100%" cellspacing="1" cellpadding="3" border="0" bgcolor="#1E679A">
      <tr style="text-align: center;">
          <td>
              <font color="#FFFFFF" face="arial, verdana, helvetica">
                  <b>Detalles del usuario</b>
              </font>
          </td>
      </tr>
      <tr>
          <td bgcolor="#ffffcc">
            <%if (portal == 'cognito') { %>
              <font face="arial, verdana, helvetica">
                <p>sub: <%=user.sub%>,</p>
                <!--<p>Photo: <img src="<%=user.picture%>" alt="">,</p>-->
                <p>Email_verified: <%=user.email_verified%>,</p>
                <p>Name: <%=user.name%>,</p>
                <p>Email: <%=user.email%>,</p>
                <p>Username: <%=user.username%>,</p>
                <p>Birthday: <%=user.birthdate%></p>
              </font>
            <% }else if (portal == 'facebook') {%>
              <!--<p>Photo: <img src="<%=user.photos[0].value%>" alt="">,</p>-->
              <p>Name: <%=user._json.name%>,</p>
              <p>Email: <%=user._json.email%>,</p>
              <p>Gender: <%=user._json.gender%>,</p>
              <p>Birthday: <%=user._json.birthday%></p>
            <%}else{%>
              <!--<p>Photo: <img src="<%=user.photos[0].value%>" alt="">,</p>-->
              <p>Name: <%=user.displayName%>,</p>
              <p>Email: <%=user.emails[0].value%>,</p>
              <p>Gender: <%=user.gender%>,</p>
              <p>Birthday: <%=user._json.birthday%> "YYYY-MM-DD"</p>
            <%}%>
          </td>
      </tr>
    </table>
  </body>
</html>
